@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6>OpenTrek is an easy to use travel planner and location recommendation client. Use OpenTrek to plan trips and find the best
        locations to view during your travels. 
    </h6>
</div>
