@model opentrek.Models.LocationModel

@{
    ViewData["Title"] = "Map Page";
}

<div id="map" style="height: 600px"></div>
<h2>Country: </h2><p id="country-text">@Html.DisplayFor(model => model.Country)</p>
<h2>Recommendation: </h2><p id ="recommendation-text">@Html.DisplayFor(model => model.Recommendation)</p>