@model opentrek.Models.LocationModel
@{
    ViewData["Title"] = "Map Page";
}

<div id="map" style="height: 500px"></div>

<h4 id="country-text">Country: @Html.DisplayFor(model => model.Country)</h4>
<h4 id="recommendation-text">Recommendation: @Html.DisplayFor(model => model.Recommendation)</h4>